.navigation {
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 110;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;

  @include respond(tab-port) {
    top: 5rem;
    right: 5rem;
  }
  @include respond(phone) {
    top: 3.5rem;
    right: 3.5rem;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;

    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    &--active {
      transform: scale(80);
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    z-index: 1500;

    opacity: 0;
    width: 0;

    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &--active {
      width: 100%;
      opacity: 1;
    }
  }
  &__list {
    list-style: none;
    text-align: left;
    justify-self: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;

      span {
        margin-right: 1rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  //ICON

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color_grey-dark-3;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  // &__button:hover &__icon::before {
  //   top: -1rem;
  // }
  // &__button:hover &__icon::after {
  //   top: 1rem;
  // }

  &--checked {
    .navigation__icon {
      background-color: transparent;
    }

    & &::after {
      top: 0;
      transform: rotate(-135deg);
    }
    &::before {
      top: 0;
      transform: rotate(135deg);
    }
  }
}
.hide {
  display: none;
}
